
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    /*light-mode*/
    --dark-color-primary: #111;
    --light-color-primary:rgb(248, 248, 248);
    --light-color-secondary:#f0f8ff;
    --green-color-primary: #2f4f4f;
    --green-color-secondary: #133030;
    
    /*dark-mode*/
    
}

html{
    font-size: 62,5%;
}

[data-theme = "dar"]{
    --ligth-color-primary: #111;
    --ligth-color-secondary: #1a1a1a;
    --dark-color-primary: #rgb(248, 248, 248);

}

.checkbox{
    background-color: var(--green-color-primary);
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: none;
    color: var(--light-color-primary);
    box-shadow: 3px 3px 6px -1px #111;
    transition: .2s;

}

.theme-mode{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    position: absolute;
    z-index: 8;
    right: 3rem;
    top: 2rem;
}
.theme-mode label{
    color: #eee;
}

.checkbox:hover{
    background-color: var(--green-color-secondary);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
    text-decoration: none;
    list-style: none;
    --webkit-font-smoothing: antialiased;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-color-secondary);
    color: var(--dark-color-primary);
}

.imgBackground{
    width: 100%;
    height: 300px;
    background:  url("./src/background.png") no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    color: var(--light-color-primary);
    z-index: 1;
}
.imgBackground span{
    color: var(--green-color-primary);
    font-weight: 700;
}

.imgBackground h1{
    color: #f0f8ff;
    margin-top: 120px;
    font-size: 2rem;
}


.container{
    top: 30%;
    position: absolute;
    width: 40%;
    min-width: 300px;
    padding: 1rem;
    background-color: var(--light-color-primary);
    border-radius:30px;
    filter: drop-shadow(-1px 0px 6px rgba(0, 0, 0, 0.25));
    z-index: 3;
}

.inputTask{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2rem;
}
.inputTask input{
    width: 100%;
    height: 2.5rem;
    padding-left: 1rem;
    border: none;
    border-radius: 15px;
    background-color: var(--light-color-secondary);
    color: var(--dark-color-primary);
    filter: drop-shadow(-1px 2px 6px rgba(0, 0, 0, 0.25));
    font-size: 1rem;
}

.inputTask input:focus{
    border: 2px solid var(--green-color-primary);
}

.addTaskBtn{
    padding: 0 15px;
    font-size: 1rem;
    height: 2.5rem;
    border-radius: 15px;
    border: none;
    background-color: var(--green-color-primary);
    color: #fff;
    transition: ease-in-out .2s;
    cursor: pointer;
}

.more{
    display: none;
}

.addTaskBtn:hover{
    background-color: var(--green-color-secondary);
}

.listTasks{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap:.1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
}

.listTasks::-webkit-scrollbar{
width: 12px;
}
body::-webkit-scrollbar{width: 12px;}
body::-webkit-scrollbar-track{background-color:var(--green-color-primary);}
body::-webkit-scrollbar-thumb{background-color:var(--green-color-secondary);}



.tasks{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
    cursor: pointer;
    transition: ease-in .1s;
    padding: 1rem;
    border-radius: 30px;
    box-sizing: border-box;

}

.tasks:hover{
    filter: drop-shadow(-1px 2px 6px rgba(0, 0, 0, 0.25));
    transform: scale(1.01);
    background-color: var(--light-color-primary);

}

.tasks p {
    width: 100%; /* Limita a largura máxima ao contêiner .tasks */
    word-wrap: break-word;
    overflow: hidden; /* Evita que o texto exceda a largura do contêiner */
    white-space: wrap; /* Impede que o texto quebre em várias linhas horizontalmente (pode ser removido se desejado) */
    text-overflow: ellipsis; 
    font-size: 1rem;/* Adiciona "..." no final do texto se ele for cortado (pode ser removido se desejado) */
  }

 img{
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

.delete-icon{
    opacity: 0;
    transition: ease-in-out .2s;
}

.tasks:hover .delete-icon{
    opacity: 1;
}


.feito{
    text-decoration: line-through;
}

.feito p{
    opacity: .5;
}

svg{
    width: 1.2rem;
    height: 1.2rem;
    color: var(--dark-color-primary);
}


dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.65);
    position: relative;
}

dialog{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 2rem;
    border: none;
    border-radius: 1rem;
    color: var(--dark-color-primary);
    background-color: var(--light-color-primary);

}

dialog button{
    border: none;
    padding: 10px 15px;
    width: 100%;
    margin-top: 2rem;
    border-radius: 1rem;
    font-weight: 700;
    font-size: .9rem;
    background-color: var(--green-color-primary);
    cursor: pointer;
    color: var(--dark-color-primary);
    transition: .2s;
}

dialog button:hover{
    background-color: var(--green-color-secondary);
}

dialog p{
    margin-top: .8rem;
}
dialog h2{
    color: var(--dark-color-secondary);
}

@media  (max-width: 1024px) {
    .container{
        top: 30%;
        width: 90%;
    }
}

@media (max-width: 425px){
    html{
        font-size: 90%;
    }

    .imgBackground{
        height: 200px;
    }

    .imgBackground h1{
        margin-top: 50px;
    }


    .container{
        top: 25%;
        padding: 1rem;

    }

    .inputTask {
        margin: 0;
        top: 15;
        width: 100%;
        gap: .5rem;
    }

    .inputTask input{
        width: 100%;

    }

    .addTaskBtn button{
        position: absolute;
        right: 0;
        transform: translate(-50% -50%);
    }

    .adicionar{
    display: none;
    }

    .more{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    }

    .more svg{
        width: 1.5rem;
        color: #111;
        height: 1.5rem;
        z-index: 5;
    }

    .theme-mode{
        position: absolute;
        z-index: 8;
        right: 1rem;
        top: 1rem;
    }

    .checkbox{
        width: 2.5rem;
        height: 2.5rem;
    }

    .theme-mode label{
        display: none;
    }
}
